.sidebar-bg-black{
    background-color: #191919;
}

.main-panel > .content {
    margin-top: 30px; 
}

.sidebar .nav li > a, .off-canvas-sidebar .nav li > a { 
    color: #d2d2d2;
}

.sidebar .nav .caret {
    margin-top: 13px;
    position: absolute;
    right: 18px;
}

.sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text { 
    color: #ffffff; 
}

.btn-group.open > .dropdown-toggle.btn, .btn-group.open > .dropdown-toggle.btn.btn-default, .btn-group-vertical.open > .dropdown-toggle.btn, .btn-group-vertical.open > .dropdown-toggle.btn.btn-default {
    background-color: #9c27b0;
}

.btn, .navbar .navbar-nav > li > a.btn {  
    border-radius: 0px;
    padding: 5px 5px; 
}

h3, .h3 { 
    margin: 0px 0px;
}

.card .card-content {
    padding: 10px 20px 0px;
}

.card .card-footer { 
    margin: 0 20px 0px;
    padding-top: 0px;
    border-top: 0px;
}