
.chuihuiqi-pane {
    text-align: center;
    margin: 0px 5px 5px 0px;
    padding: 5px 0px; 
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.22);
}

.cell-value-bg{
    color: #555555; 
    background-color: rgba(255, 255, 255, 0.01);
}

.cell-icon{
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.2);
} 

.shouremian-row {
    margin-right: 5px;
    margin-left: 5px;
}
.shouremian-pane {
    text-align: center;
    padding-right: 3px;
    padding-left: 3px;
}

.shouremian-card{
    margin: 10px 3px 0px 3px;
}

.shouremian-pane-card-content{
    padding: 15px 0px!important;
}